<table class="table table-hover">
  <thead>
  <tr>
    <th></th>
    <th>average</th>
  </tr>
  </thead>

  <tbody>
    <% variables.each do |variable| %>
      <tr>
        <td> <%= link_to variable.name, variable %> </td>
        <td> <%= round(variable.average_rating) %> </td>
      <tr>
    <% end %>
  </tbody>

</table>
